Django==1.7.5
Pillow==2.7.0
autoenv==1.0.0
dj-database-url==0.3.0
dj-static==0.0.6
django-activity-stream==0.5.1
django-allauth==0.19.1
django-cors-headers==1.0.0
django-filter==0.9.2
django-heroku-memcacheify==0.8
django-localflavor==1.1
django-phonenumber-field==0.7.2
django-pylibmc==0.5.0
django-rest-auth==0.3.4
django-sslify==0.2.7
django-toolbelt==0.0.1
django-twilio==0.8.0
django-wpadmin==1.7.0
djangorestframework==3.1.0
geopy==1.10.0
gunicorn==19.2.1
httplib2==0.9.1
oauthlib==0.7.2
phonenumbers==7.0.4
psycopg2==2.6
pylibmc==1.4.1
python-openid==2.2.5
pytz==2015.2
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
static3==0.5.1
twilio==4.0.0
wsgiref==0.1.2
